<body>
    

    <table border="1PX"HEIGHT="500PX" WIDTH="300px">
    
        <TR >
            <div class="a">
            <img height="50px" width="50px" src="../../assets/image/1.jfif" class="rounded float-left" alt="..."></div>  <br>
                <div class="image">
            <img src="../../assets/image/3.jpeg" class="rounded-circle" id="im" alt="..." ><br></div>
       
       
          <h1 style="color: brown;">Innovative</h1>
    
          <br> 
        
           We explores and consider ideas from every source enabling to delever insight leading to new better customer in IOT<BR>
         <br> <input  (click)="functionclick()"   type="button" value="CLICK"/>  
    </table>
    
    
    </body>
