
<body>
    

<table border="1PX"HEIGHT="500PX" WIDTH="300px">

    <TR >
        <div class="a">
        <img height="50px" width="50px" src="../../assets/image/1.jfif" class="rounded float-left" alt="..."></div>  <br>
            <div class="image">
        <img src="../../assets/image/6.jfif" class="rounded-circle" id="im" alt="..." ><br></div>
   
   
      <h1 style="color: brown;">Agile</h1>

      <br> 

      Agile is an iterative approach to project management and software development that helps teams deliver value to their customers faster and with fewer headaches
     <br> <input  (click)="functionclick()"   type="button" value="CLICK"/>  
</table>


</body>